body{
  height:3000px;
}
.black{
/*margin-top: 12px;*/
position:relative;
}
.white{
  background-color: black;
  color:white;
  position:absolute;
  width:30px;
  height:30px;
  border-radius: 15px;
  top:0;
  right:0;
  padding-left: 4px;
  padding-bottom:2px;
  padding-right: 4px;
  padding-top: 2px;


}